<div class="purchaser" [formGroup]="purchaserForm">

  <div>
    <label>Meno</label>
    <input class="form-control" type="text" formControlName="name">
  </div>

  <div>
    <label>IČO</label>
    <input class="form-control" type="text" formControlName="regNr">
  </div>

  <pre>{{ purchaserForm.value | json }}</pre>
</div>
