<div class="container form-group">
  <div *ngIf="stockItems.length">
    <div *ngFor="let item of stockItems">
      <app-stock-item-small [stockItem]="item"></app-stock-item-small>
    </div>
    <!-- <pre>{{ stockItems | json }}</pre> -->
  </div>
</div>
