@import "~bootstrap/dist/css/bootstrap.css";
h1 {
  background-color: rgba(121, 128, 131, 0.562);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 40px;
  text-align: right;
}
