form {
  margin: 0px;
  padding: 0px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

input {
  margin-bottom: 10px;
}


.head{
  display:block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1rem;
  color: white;
  border-bottom: solid 1px #0969e7;
  /* border-top: solid 1px #1f4068; */
  position: relative;
  background-color: #0969e7;
  border-top-left-radius : 8px;
  border-top-right-radius : 8px;
}
