<form [formGroup]="documentForm">
  <div class="head"> Doklad </div>
  <div style="margin: 5px;">

    <pre>{{ documentForm.value | json }}</pre>
    <input type="text" formControlName="documentNumber">
  </div>

  <div class="head"> Odberateľ </div>
  <div style="margin: 5px;">
    <app-purchaser-editor formControlName="purchaser"></app-purchaser-editor>
    <!--<app-stock-items-list [stockItems] = {{documentForm.items}}  ></app-stock-items-list>-->
  </div>
  <app-stock-items-list [stockItems]="stockItems"></app-stock-items-list>
</form>
