<div class="container form-group" *ngIf="profileForm" >
  <form [formGroup]="profileForm">
    <div *ngIf="stockItem">
      <fieldset class="scheduler-border">
        <h1 class="bg-primary text-white">Položka č. {{stockItem.id}}</h1>
        <div class="form-inline">
          <div class="flex-row">
            <label for="inputStockItem" class="col-form-label">Názov</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="inputStockItem" placeholder="" formControlName="itemName" >
            </div>
          </div>
          <div class="flex-row d-flex">
            <div class="col-2">
              <label for="inputAmount" class="col-form-label">Množstvo</label>
              <input type="number" name="inputAmount" ng-model="inputAmount | number : 2"
                ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" id="inputAmount"
                placeholder="0.00"  formControlName="inputAmount" >
            </div>
            <div class="col-1">
            </div>
            <div class="col-2">
              <label for="inputMU" class="col-form-label">Merná jednotka</label>
              <input type="text" class="form-control" id="inputMU" placeholder="ks" value="{{stockItem?.measureUnit}}">
            </div>
          </div>
          <div class="flex-row d-flex">
            <div class="col-2">
              <label for="unitPrice" class="col-form-label">Jednotková cena</label>
              <input type="number" name="unitPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                class="form-control" id="unitPrice" placeholder="0.00"  formControlName="unitPrice">
            </div>
            <div class="col-1">
            </div>
            <div class="col-2">
              <label for="totalPrice" class="col-form-label">Celková cena</label>
              <input type="number" name="totalPrice" class="form-control" id="totalPrice" placeholder="€" formControlName="totalPrice" >
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
