@import "~bootstrap/dist/css/bootstrap.css";
h1 {
  background-color: rgba(191, 216, 227, 0.8);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 25px;
}
