<div class="container form-group" style="padding: 0px;">
  <div *ngIf="stockItems">
    <div *ngFor="let item of stockItems">
      <app-stock-item [stockItem]="item"></app-stock-item>
    </div>
    <app-stock-item-summary [stockItems]="stockItems" ></app-stock-item-summary>
    <!-- <pre>{{ stockItems | json }}</pre> -->
  </div>
</div>
