<div class="menu">
  <li class="item" id="mn1">
    <a class="btn" href="#mn1">Zoznam dokladov</a>
    <div class="submenu" *ngFor="let item of documents">
      <a routerLink="/document/{{item.documentNumber}}" >{{item.documentNumber}}</a>
     </div>
  </li>
</div>
<div *ngIf="documents.length">
  <!-- <pre>{{ stockItems | json }}</pre> -->
</div>
