:root{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu{
  width: auto;
  height: auto;
  background: #0969e7;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.menu .btn{
  display:block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1rem;
  color: white;
  border-bottom: solid 1px #0969e7;
  border-top: solid 1px #1f4068;
  position: relative;
}

.menu .submenu {
  background: #ffffff;
  overflow: hidden;
  max-height: 0;
  transition: max-height .8s ease-out;
}

.menu .submenu a{
  display:block;
  padding: 1rem;
  position: relative;
}

.menu .submenu a::before{
  content:'';
  display:block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 5px;
  background: #0969e7;
  opacity: 0;
  transition: all .5s;
}

.menu .submenu a:hover{
  padding-left: calc(1rem + 5px);
}

.menu .submenu a:hover::before{
  opacity: 1;
}

.item:target .submenu{
  max-height: 10rem;
}
