<div class="container">
  <div class="row">
    <div class="col-3">
      <app-documents-list-small></app-documents-list-small>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

